[Unit]
Description=uhf-sock service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/uhf-sock
ExecStart=/usr/bin/java -jar /opt/uhf-sock/uhf-sock.jar
Restart=on-failure
RestartSec=5
LogNamespace=uhf-sock

# Endurecimiento básico
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/opt/uhf-sock /tmp /var /var/log
PrivateTmp=false

[Install]
WantedBy=multi-user.target